div {
    margin-top: 15px;
  }
  body {
    height: 5000px;
  }
  .first-exercise-container {
    width: 640px;
    height: 300px;
    border: 1px solid black;
    line-height: 40px;
  }
  .first-exercise-container p {
    margin-left: 15px;
  }
  .normal {
    font-size: 25px;
    font-weight: bold;
  }
  .italic {
    font-style: italic;
    font-size: 30px;
  }
  .oblique {
    font-style: oblique;
    font-size: 28px;
  }
  .next-section {
    width: 640px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: #eae7af;
  }
  .css-page {
    width: 640px;
    height: 250px;
    border: 1px solid black;
    color: red;
    text-align: right;
  }
  .css-page h1 {
    margin-right: 10px;
    margin-top: 30px;
  }
  .second-container p {
    margin: 0;
    margin-bottom: 5px;
  }
  .second-container {
    width: 700px;
    height: 370px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header h1 {
    text-align: center;
    font-weight: 400;
  }
  .next-text .right-side {
    text-align: right;
  }
  .gbottom-border {
    border: 1px solid black;
    width: 320px;
    background-color: #d52e20;
    height: 5px;
  }
  .right-side {
    font-size: 24px;
    font-weight: bold;
  }
  .bbottom-border {
    border: 1px solid black;
    width: 320px;
    background-color: #000067;
    height: 5px;
  }
  .text-styles {
    width: 700px;
    height: 370px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }
  .upline {
    text-decoration: overline;
  }
  .line-through {
    text-decoration: line-through;
  }
  .underline {
    text-decoration: underline;
  }
  .computers {
    width: 700px;
    height: 370px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fefafa;
  }
  .computers h1 {
    word-spacing: 25px;
    font-size: 25px;
  }
  .computers li {
    letter-spacing: 6px;
  }
  .border-style {
    width: 800px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
  }
  .dotted {
    border: 5px dotted #74fbfd;
  }
  .dashed {
    border: 5px dashed #74fbfd;
  }
  .solid {
    border: 5px solid #74fbfd;
  }
  .double {
    border: 5px double #74fbfd;
  }
  .groove {
    border: 5px groove #74fbfd;
  }
  .ridge {
    border: 5px ridge #74fbfd;
  }
  .inset {
    border: 5px inset #74fbfd;
  }
  .outset {
    border: 5px outset #74fbfd;
  }
  .none {
    border: none;
  }
  .hidden {
    border: hidden;
  }
  .mix {
    border-top: 5px dotted #74fbfd;
    border-left: 5px double #74fbfd;
    border-bottom: 5px solid #74fbfd;
    border-right: 5px dashed #74fbfd;
  }
  .rounded {
    width: 180px;
    border: 3px solid black;
    height: 120px;
    border-radius: 20px;
    background-color: #73140c;
  }
  .rounded p {
    margin-left: 10px;
    font-size: 17px;
    line-height: 22px;
  }
  .border-radius {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    width: 800px;
    height: 600px;
  }
  .rounded2 {
    width: 180px;
    border: 3px solid black;
    height: 120px;
    border-radius: 20px;
  }
  .rounded2 p {
    margin-left: 10px;
    font-size: 17px;
    line-height: 22px;
  }
  .rounded3 {
    width: 180px;
    border: 3px solid black;
    height: 120px;
    border-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1503756234508-e32369269deb?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dGhlJTIwc2VhfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .rounded3 p {
    margin-left: 10px;
    font-size: 17px;
    line-height: 22px;
  }
  .border-4 {
    border: 5px double #a1b7d2;
    padding-left: 10px;
    padding-right: 10px;
    width: 800px;
    height: 650px;
  }
  .first15 {
    border-radius: 15px 50px 30px 5px;
    background-color: #74140c;
    width: 230px;
    height: 150px;
  }
  .second15 {
    border-radius: 15px 50px 30px;
    background-color: #74140c;
    width: 230px;
    height: 150px;
  }
  .third15 {
    border-radius: 15px 50px;
    background-color: #74140c;
    width: 230px;
    height: 150px;
  }
  .first12 {
    border-radius: 50px/15px;
    background-color: #74140c;
    width: 230px;
    height: 150px;
  }
  .second12 {
    border-radius: 15px/50px;
    background-color: #74140c;
    width: 230px;
    height: 150px;
  }
  .third12 {
    border-radius: 50%;
    background-color: #74140c;
    width: 230px;
    height: 150px;
  }
  .last-exercise {
    border: 5px double #a1b7d2;
    padding-left: 10px;
    padding-right: 10px;
    width: 800px;
    height: 650px;
  }
  
  